body {
  flex-direction: column;
  background-color: #FFFFFF;
  height: 400px;
  width: 300px;
  margin: 0px;
  border-radius: 10px;
  align-content: center;
}

.header {
  background-color: #B1B0B9;
  color: #FFFFFF;
  height: 55px;
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 10px;
}

text.gaspricetitle {
  position: relative;
  padding: 15px;
  font-size: 14px;
  text-align: left;
}
text.gasprice {
  position: relative;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.logo {
  height: 170px;
  width: 200px;
  align-self: center;
  margin-left: 100px;
  margin-top: 30px;
}

div.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input {
  padding: 10px;
  width: 300px;
  text-align: left;
  border: 10px;
  border-color: #B1B0B9;
  background-color: #EDE7E7;
  border-radius: 10px;
}

.confirmationPage {
  display: flex;
  align-items: center;

}