body {
  background-color: #FFFFFF;
  height: 400px;
  width: 350px;
  margin: 0px;
  border-radius: 10px;
  align-content: center;
  font-family: sans-serif;
}

.header {
  background-color: #f2f3f4;
  color: #6d747d;
  height: 45px;
  width: 400px;
  display: block;
  margin: auto;
  padding-top: 10px;
}

text.gaspricetitle {
  position: relative;
  padding: 15px;
  font-size: 13px;
  text-align: left;
}
text.gasprice {
  position: relative;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
}

.report{
  align-self: center;
  font-family: sans-serif;
  color: #7A7A7A;
  font-size: 15px;
}

.logo {
  width: 270px;
  align-self: center;
  margin-left: 40px;
  margin-top: 10px;
}

.lockdesign{
  width: 200px;
  align-self: center;
  margin-left: 50px;
  margin-top: 20px;
}

.lockmain{
  width: 200px;
  align-self: center;
  margin-left: 75px;
  margin-top: 20px;
}


div.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

input {
    padding: 10px 0px;
    background-color: #FFFFFF;
    width: 300px;
    text-align: left;
    margin-left: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 15px;
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    color:#6d747d;
    font-family: avenir;
}

input:focus{
  outline: none;
}

.confirmationPage {
  display: inline-block;
  vertical-align: middle;
}

.explanationGreen {
  color: green !important;
  text-align: center;
}

.address {
  text-align: center;
}

.explanationRed {
  color: red !important;
  text-align: center;
}

.explanationNeutral {
  color: #6d747d !important;
  text-align: center;
}