.App {
  display: flex;
  flex-wrap: nowrap;
  align-items: center; /* vertical align */
  column-gap: 1%;
}

.logo {
  width: 20%;
  height: 20%;
}

/* .options {
  position: absolute;
  text-align: left;
} */
